body 
{
    background-color: #171717; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header 
{
    background-color: #121212; 
    color:  white;
    padding: 10px;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

.grid-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film-container 
{
    color: #d3d3d3;
    width: calc(100%/4 - 3rem);
    border:  #999999 1px solid;
    border-radius: 10px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.film-container h2 
{
    color: white;
}

.film-container h2, .film-container p
{
    padding-left: 1rem;
}

a:link 
{ 
    text-decoration: none; 
} 

.film-container img 
{
    height: 450px;   
    width: auto;
    margin-bottom: 1rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.footer 
{
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;

}